In [1]:
pip install --upgrade MetaTrader5

Requirement already satisfied: MetaTrader5 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (5.0.4738)
Requirement already satisfied: numpy>=1.7 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (from MetaTrader5) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [3]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [4]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "GBPUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 1)
utc_to = datetime(2025, 1, 3)

In [5]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [6]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2024-12-31 16:00:00  1.25289  1.25305  1.25276  1.25282           33
1    2024-12-31 16:01:00  1.25283  1.25288  1.25272  1.25282           39
2    2024-12-31 16:02:00  1.25283  1.25295  1.25274  1.25291           60
3    2024-12-31 16:03:00  1.25291  1.25310  1.25290  1.25302           40
4    2024-12-31 16:04:00  1.25302  1.25305  1.25254  1.25261           46
...                  ...      ...      ...      ...      ...          ...
1436 2025-01-02 15:56:00  1.24062  1.24103  1.24061  1.24083           59
1437 2025-01-02 15:57:00  1.24082  1.24100  1.24060  1.24087           64
1438 2025-01-02 15:58:00  1.24087  1.24093  1.24070  1.24072           55
1439 2025-01-02 15:59:00  1.24072  1.24075  1.24040  1.24040           56
1440 2025-01-02 16:00:00  1.24040  1.24052  1.24001  1.24007           63

      spread  real_volume
0          3            0
1          4            0
2          3            0
3          5            0
4          5            0
...      ...          ...
1436       5            0
1437       5            0
1438       5            0
1439       5            0
1440       5            0

[1441 rows x 8 columns]

In [7]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [8]:
rates_frame

                    time     open     high      low    close
0    2024-12-31 16:00:00  1.25289  1.25305  1.25276  1.25282
1    2024-12-31 16:01:00  1.25283  1.25288  1.25272  1.25282
2    2024-12-31 16:02:00  1.25283  1.25295  1.25274  1.25291
3    2024-12-31 16:03:00  1.25291  1.25310  1.25290  1.25302
4    2024-12-31 16:04:00  1.25302  1.25305  1.25254  1.25261
...                  ...      ...      ...      ...      ...
1436 2025-01-02 15:56:00  1.24062  1.24103  1.24061  1.24083
1437 2025-01-02 15:57:00  1.24082  1.24100  1.24060  1.24087
1438 2025-01-02 15:58:00  1.24087  1.24093  1.24070  1.24072
1439 2025-01-02 15:59:00  1.24072  1.24075  1.24040  1.24040
1440 2025-01-02 16:00:00  1.24040  1.24052  1.24001  1.24007

[1441 rows x 5 columns]

In [9]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)