In [1]:
pip install --upgrade MetaTrader5

Requirement already satisfied: MetaTrader5 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (5.0.4738)
Requirement already satisfied: numpy>=1.7 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (from MetaTrader5) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [3]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [10]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "GBPUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 9)
utc_to = datetime(2025, 1, 11)

In [11]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [12]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-08 16:00:00  1.23559  1.23636  1.23559  1.23607          100
1    2025-01-08 16:01:00  1.23604  1.23651  1.23581  1.23637          101
2    2025-01-08 16:02:00  1.23639  1.23661  1.23615  1.23642           92
3    2025-01-08 16:03:00  1.23640  1.23640  1.23597  1.23610           67
4    2025-01-08 16:04:00  1.23607  1.23613  1.23575  1.23576           67
...                  ...      ...      ...      ...      ...          ...
2875 2025-01-10 15:56:00  1.22275  1.22301  1.22259  1.22281           90
2876 2025-01-10 15:57:00  1.22282  1.22300  1.22234  1.22277           92
2877 2025-01-10 15:58:00  1.22271  1.22302  1.22255  1.22279           91
2878 2025-01-10 15:59:00  1.22284  1.22336  1.22265  1.22314           85
2879 2025-01-10 16:00:00  1.22308  1.22320  1.22233  1.22234           95

      spread  real_volume
0          4            0
1          5            0
2          5            0
3          5            0
4          5            0
...      ...          ...
2875       5            0
2876       5            0
2877       5            0
2878       3            0
2879       3            0

[2880 rows x 8 columns]

In [13]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [14]:
rates_frame

                    time     open     high      low    close
0    2025-01-08 16:00:00  1.23559  1.23636  1.23559  1.23607
1    2025-01-08 16:01:00  1.23604  1.23651  1.23581  1.23637
2    2025-01-08 16:02:00  1.23639  1.23661  1.23615  1.23642
3    2025-01-08 16:03:00  1.23640  1.23640  1.23597  1.23610
4    2025-01-08 16:04:00  1.23607  1.23613  1.23575  1.23576
...                  ...      ...      ...      ...      ...
2875 2025-01-10 15:56:00  1.22275  1.22301  1.22259  1.22281
2876 2025-01-10 15:57:00  1.22282  1.22300  1.22234  1.22277
2877 2025-01-10 15:58:00  1.22271  1.22302  1.22255  1.22279
2878 2025-01-10 15:59:00  1.22284  1.22336  1.22265  1.22314
2879 2025-01-10 16:00:00  1.22308  1.22320  1.22233  1.22234

[2880 rows x 5 columns]

In [15]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)