In [1]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [2]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [22]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "EURUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 6)
utc_to = datetime(2025, 1, 7)

In [23]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [24]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                   time     open     high      low    close  tick_volume  \
0   2025-01-06 00:00:00  1.03018  1.03021  1.03018  1.03021            2
1   2025-01-06 00:01:00  1.03021  1.03021  1.03003  1.03004            5
2   2025-01-06 00:02:00  1.03013  1.03013  1.03005  1.03005            2
3   2025-01-06 00:03:00  1.02998  1.02998  1.02998  1.02998            1
4   2025-01-06 00:04:00  1.03007  1.03007  1.03006  1.03007            3
..                  ...      ...      ...      ...      ...          ...
956 2025-01-06 15:56:00  1.04149  1.04151  1.04120  1.04143           56
957 2025-01-06 15:57:00  1.04142  1.04182  1.04130  1.04158           63
958 2025-01-06 15:58:00  1.04155  1.04160  1.04133  1.04143           54
959 2025-01-06 15:59:00  1.04144  1.04171  1.04144  1.04168           67
960 2025-01-06 16:00:00  1.04169  1.04201  1.04150  1.04196           73

     spread  real_volume
0        58            0
1        58            0
2        81            0
3       100            0
4        95            0
..      ...          ...
956       4            0
957       4            0
958       4            0
959       4            0
960       4            0

[961 rows x 8 columns]

In [25]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [26]:
rates_frame

                   time     open     high      low    close
0   2025-01-06 00:00:00  1.03018  1.03021  1.03018  1.03021
1   2025-01-06 00:01:00  1.03021  1.03021  1.03003  1.03004
2   2025-01-06 00:02:00  1.03013  1.03013  1.03005  1.03005
3   2025-01-06 00:03:00  1.02998  1.02998  1.02998  1.02998
4   2025-01-06 00:04:00  1.03007  1.03007  1.03006  1.03007
..                  ...      ...      ...      ...      ...
956 2025-01-06 15:56:00  1.04149  1.04151  1.04120  1.04143
957 2025-01-06 15:57:00  1.04142  1.04182  1.04130  1.04158
958 2025-01-06 15:58:00  1.04155  1.04160  1.04133  1.04143
959 2025-01-06 15:59:00  1.04144  1.04171  1.04144  1.04168
960 2025-01-06 16:00:00  1.04169  1.04201  1.04150  1.04196

[961 rows x 5 columns]

In [27]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)