In [1]:
pip install --upgrade MetaTrader5

Requirement already satisfied: MetaTrader5 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (5.0.4738)
Requirement already satisfied: numpy>=1.7 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (from MetaTrader5) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [3]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [16]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "EURJPY"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 14)
utc_to = datetime(2025, 1, 16)

In [17]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [18]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-13 16:00:00  160.465  160.501  160.449  160.466           79
1    2025-01-13 16:01:00  160.469  160.528  160.462  160.489           91
2    2025-01-13 16:02:00  160.494  160.502  160.474  160.498           71
3    2025-01-13 16:03:00  160.496  160.500  160.466  160.473           73
4    2025-01-13 16:04:00  160.470  160.478  160.439  160.444           75
...                  ...      ...      ...      ...      ...          ...
1506 2025-01-14 17:06:00  162.106  162.181  162.106  162.172           83
1507 2025-01-14 17:07:00  162.172  162.181  162.153  162.161           76
1508 2025-01-14 17:08:00  162.159  162.210  162.134  162.181           94
1509 2025-01-14 17:09:00  162.175  162.211  162.166  162.203           75
1510 2025-01-14 17:10:00  162.203  162.203  162.203  162.203            1

      spread  real_volume
0         20            0
1         20            0
2         20            0
3         20            0
4         20            0
...      ...          ...
1506      20            0
1507      20            0
1508      20            0
1509      20            0
1510      20            0

[1511 rows x 8 columns]

In [19]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [20]:
rates_frame.tail(40)

                    time     open     high      low    close
1471 2025-01-14 16:31:00  161.980  162.002  161.942  161.961
1472 2025-01-14 16:32:00  161.960  161.986  161.930  161.965
1473 2025-01-14 16:33:00  161.974  161.985  161.936  161.985
1474 2025-01-14 16:34:00  161.984  161.995  161.967  161.979
1475 2025-01-14 16:35:00  161.984  162.003  161.955  161.969
1476 2025-01-14 16:36:00  161.968  161.998  161.964  161.997
1477 2025-01-14 16:37:00  161.990  162.023  161.984  161.987
1478 2025-01-14 16:38:00  161.981  161.988  161.966  161.971
1479 2025-01-14 16:39:00  161.973  161.974  161.931  161.940
1480 2025-01-14 16:40:00  161.941  161.967  161.934  161.961
1481 2025-01-14 16:41:00  161.966  161.998  161.964  161.967
1482 2025-01-14 16:42:00  161.966  161.998  161.945  161.998
1483 2025-01-14 16:43:00  161.999  162.000  161.950  161.960
1484 2025-01-14 16:44:00  161.961  161.974  161.953  161.974
1485 2025-01-14 16:45:00  161.986  161.999  161.955  161.986
1486 2025-01-14 16:46:00  161.985  162.054  161.985  162.014
1487 2025-01-14 16:47:00  162.006  162.021  161.947  161.961
1488 2025-01-14 16:48:00  161.959  161.959  161.912  161.919
1489 2025-01-14 16:49:00  161.920  161.932  161.903  161.927
1490 2025-01-14 16:50:00  161.926  161.934  161.911  161.930
1491 2025-01-14 16:51:00  161.929  161.977  161.928  161.972
1492 2025-01-14 16:52:00  161.970  161.984  161.909  161.918
1493 2025-01-14 16:53:00  161.919  161.977  161.912  161.967
1494 2025-01-14 16:54:00  161.966  161.972  161.933  161.953
1495 2025-01-14 16:55:00  161.952  161.992  161.951  161.983
1496 2025-01-14 16:56:00  161.983  161.983  161.952  161.967
1497 2025-01-14 16:57:00  161.966  161.997  161.958  161.981
1498 2025-01-14 16:58:00  161.978  162.020  161.973  162.011
1499 2025-01-14 16:59:00  162.012  162.050  161.998  162.030
1500 2025-01-14 17:00:00  162.028  162.092  162.027  162.086
1501 2025-01-14 17:01:00  162.087  162.107  162.072  162.097
1502 2025-01-14 17:02:00  162.099  162.101  162.052  162.052
1503 2025-01-14 17:03:00  162.048  162.093  162.048  162.092
1504 2025-01-14 17:04:00  162.091  162.139  162.091  162.103
1505 2025-01-14 17:05:00  162.100  162.119  162.091  162.105
1506 2025-01-14 17:06:00  162.106  162.181  162.106  162.172
1507 2025-01-14 17:07:00  162.172  162.181  162.153  162.161
1508 2025-01-14 17:08:00  162.159  162.210  162.134  162.181
1509 2025-01-14 17:09:00  162.175  162.211  162.166  162.203
1510 2025-01-14 17:10:00  162.203  162.203  162.203  162.203

In [21]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)