In [1]:
# pip install --upgrade MetaTrader5

In [2]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [3]:
if not mt5.initialize(login=89500879, server="MetaQuotes-Demo", password="6kF-FhYd"):
    print("Initialization failed")
    print(mt5.last_error())
    quit()

print("Connected to MT5 successfully")

Connected to MT5 successfully

In [4]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "XAUUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 17)
utc_to = datetime(2025, 1, 20)

In [5]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [6]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-16 16:00:00  2715.27  2717.03  2715.06  2716.73           88
1    2025-01-16 16:01:00  2716.73  2717.55  2716.73  2717.29           98
2    2025-01-16 16:02:00  2717.28  2717.46  2716.79  2717.00           98
3    2025-01-16 16:03:00  2717.02  2717.46  2716.77  2717.29           85
4    2025-01-16 16:04:00  2717.28  2717.56  2715.83  2716.13           87
...                  ...      ...      ...      ...      ...          ...
1851 2025-01-17 23:52:00  2701.61  2702.30  2701.61  2702.30           23
1852 2025-01-17 23:53:00  2702.30  2702.34  2702.08  2702.26           14
1853 2025-01-17 23:54:00  2702.21  2702.26  2701.97  2702.06           18
1854 2025-01-17 23:55:00  2702.84  2702.87  2702.78  2702.85            6
1855 2025-01-17 23:56:00  2702.86  2703.04  2702.70  2702.92           34

      spread  real_volume
0          5            0
1          7            0
2          5            0
3          6            0
4          9            0
...      ...          ...
1851      23            0
1852      30            0
1853      79            0
1854      41            0
1855      41            0

[1856 rows x 8 columns]

In [7]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [8]:
rates_frame.tail(40)

                    time     open     high      low    close
1816 2025-01-17 23:17:00  2699.76  2699.76  2699.41  2699.66
1817 2025-01-17 23:18:00  2699.66  2699.68  2699.43  2699.50
1818 2025-01-17 23:19:00  2699.51  2700.25  2699.48  2699.58
1819 2025-01-17 23:20:00  2699.59  2699.62  2699.47  2699.54
1820 2025-01-17 23:21:00  2699.54  2700.20  2699.43  2700.12
1821 2025-01-17 23:22:00  2700.14  2700.24  2699.80  2700.19
1822 2025-01-17 23:23:00  2700.21  2700.28  2700.17  2700.28
1823 2025-01-17 23:24:00  2700.28  2700.40  2700.26  2700.35
1824 2025-01-17 23:25:00  2700.35  2700.35  2700.23  2700.32
1825 2025-01-17 23:26:00  2700.36  2700.99  2700.29  2700.99
1826 2025-01-17 23:27:00  2701.07  2701.34  2700.94  2701.14
1827 2025-01-17 23:28:00  2701.11  2701.39  2701.02  2701.36
1828 2025-01-17 23:29:00  2701.58  2701.64  2701.29  2701.44
1829 2025-01-17 23:30:00  2701.52  2701.60  2701.36  2701.48
1830 2025-01-17 23:31:00  2701.55  2701.87  2701.37  2701.86
1831 2025-01-17 23:32:00  2701.87  2702.07  2701.65  2701.70
1832 2025-01-17 23:33:00  2701.78  2701.99  2701.62  2701.79
1833 2025-01-17 23:34:00  2701.78  2701.80  2701.72  2701.79
1834 2025-01-17 23:35:00  2701.79  2701.80  2701.36  2701.40
1835 2025-01-17 23:36:00  2701.41  2701.64  2701.21  2701.24
1836 2025-01-17 23:37:00  2701.23  2701.36  2701.21  2701.36
1837 2025-01-17 23:38:00  2701.62  2702.02  2701.45  2701.70
1838 2025-01-17 23:39:00  2701.73  2702.16  2701.70  2702.16
1839 2025-01-17 23:40:00  2702.16  2702.16  2701.64  2701.72
1840 2025-01-17 23:41:00  2701.80  2702.05  2701.73  2701.80
1841 2025-01-17 23:42:00  2701.79  2702.30  2701.72  2702.28
1842 2025-01-17 23:43:00  2702.28  2702.30  2702.02  2702.15
1843 2025-01-17 23:44:00  2702.15  2702.15  2701.79  2702.10
1844 2025-01-17 23:45:00  2702.10  2702.10  2701.23  2701.30
1845 2025-01-17 23:46:00  2701.28  2701.69  2701.23  2701.59
1846 2025-01-17 23:47:00  2701.55  2701.88  2701.44  2701.88
1847 2025-01-17 23:48:00  2701.88  2701.88  2701.58  2701.88
1848 2025-01-17 23:49:00  2701.88  2701.98  2701.64  2701.93
1849 2025-01-17 23:50:00  2701.93  2701.98  2701.48  2701.84
1850 2025-01-17 23:51:00  2701.84  2701.84  2701.36  2701.84
1851 2025-01-17 23:52:00  2701.61  2702.30  2701.61  2702.30
1852 2025-01-17 23:53:00  2702.30  2702.34  2702.08  2702.26
1853 2025-01-17 23:54:00  2702.21  2702.26  2701.97  2702.06
1854 2025-01-17 23:55:00  2702.84  2702.87  2702.78  2702.85
1855 2025-01-17 23:56:00  2702.86  2703.04  2702.70  2702.92

In [9]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)

In [11]:
print(datetime.now().strftime("%I:%M %p"))

07:34 PM