In [11]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [12]:
if not mt5.initialize(login=89500879, server="MetaQuotes-Demo", password="6kF-FhYd"):
    print("Initialization failed")
    print(mt5.last_error())
    quit()

print("Connected to MT5 successfully")

Connected to MT5 successfully

In [19]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "USDCHF"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 21)
utc_to = datetime(2025, 1, 23)

In [20]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [21]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-20 16:00:00  0.90880  0.90893  0.90865  0.90891           68
1    2025-01-20 16:01:00  0.90901  0.90901  0.90869  0.90878           66
2    2025-01-20 16:02:00  0.90882  0.90902  0.90877  0.90898           75
3    2025-01-20 16:03:00  0.90893  0.90908  0.90836  0.90836           69
4    2025-01-20 16:04:00  0.90842  0.90909  0.90838  0.90909           70
...                  ...      ...      ...      ...      ...          ...
2876 2025-01-22 15:56:00  0.90579  0.90586  0.90572  0.90572           33
2877 2025-01-22 15:57:00  0.90571  0.90590  0.90571  0.90590           39
2878 2025-01-22 15:58:00  0.90590  0.90590  0.90573  0.90576           35
2879 2025-01-22 15:59:00  0.90575  0.90597  0.90574  0.90595           40
2880 2025-01-22 16:00:00  0.90599  0.90599  0.90593  0.90595           26

      spread  real_volume
0         12            0
1         12            0
2         12            0
3         12            0
4         12            0
...      ...          ...
2876      12            0
2877      12            0
2878      12            0
2879      12            0
2880      12            0

[2881 rows x 8 columns]

In [22]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [17]:
rates_frame.tail(40)

                    time     open     high      low    close
2840 2025-01-22 15:21:00  1.66045  1.66060  1.66040  1.66044
2841 2025-01-22 15:22:00  1.66047  1.66076  1.66047  1.66069
2842 2025-01-22 15:23:00  1.66071  1.66077  1.66034  1.66047
2843 2025-01-22 15:24:00  1.66046  1.66047  1.66019  1.66026
2844 2025-01-22 15:25:00  1.66025  1.66025  1.65986  1.65988
2845 2025-01-22 15:26:00  1.65985  1.65997  1.65961  1.65967
2846 2025-01-22 15:27:00  1.65965  1.65991  1.65952  1.65991
2847 2025-01-22 15:28:00  1.65992  1.66016  1.65979  1.66015
2848 2025-01-22 15:29:00  1.66016  1.66048  1.66016  1.66032
2849 2025-01-22 15:30:00  1.66035  1.66050  1.66035  1.66050
2850 2025-01-22 15:31:00  1.66049  1.66060  1.66037  1.66037
2851 2025-01-22 15:32:00  1.66040  1.66044  1.66017  1.66024
2852 2025-01-22 15:33:00  1.66016  1.66039  1.66013  1.66038
2853 2025-01-22 15:34:00  1.66037  1.66061  1.66037  1.66061
2854 2025-01-22 15:35:00  1.66057  1.66057  1.66026  1.66026
2855 2025-01-22 15:36:00  1.66036  1.66038  1.66022  1.66027
2856 2025-01-22 15:37:00  1.66027  1.66070  1.66020  1.66068
2857 2025-01-22 15:38:00  1.66074  1.66077  1.66035  1.66046
2858 2025-01-22 15:39:00  1.66044  1.66051  1.66035  1.66040
2859 2025-01-22 15:40:00  1.66042  1.66043  1.66002  1.66035
2860 2025-01-22 15:41:00  1.66033  1.66043  1.66000  1.66010
2861 2025-01-22 15:42:00  1.66012  1.66023  1.65992  1.65997
2862 2025-01-22 15:43:00  1.65998  1.66014  1.65992  1.65992
2863 2025-01-22 15:44:00  1.65992  1.66004  1.65987  1.65998
2864 2025-01-22 15:45:00  1.66001  1.66027  1.65980  1.66027
2865 2025-01-22 15:46:00  1.66028  1.66061  1.66028  1.66051
2866 2025-01-22 15:47:00  1.66048  1.66064  1.66029  1.66029
2867 2025-01-22 15:48:00  1.66031  1.66042  1.65985  1.65987
2868 2025-01-22 15:49:00  1.65986  1.65986  1.65949  1.65962
2869 2025-01-22 15:50:00  1.65957  1.65985  1.65957  1.65967
2870 2025-01-22 15:51:00  1.65968  1.65968  1.65944  1.65948
2871 2025-01-22 15:52:00  1.65949  1.65972  1.65945  1.65972
2872 2025-01-22 15:53:00  1.65970  1.65971  1.65941  1.65941
2873 2025-01-22 15:54:00  1.65938  1.65951  1.65931  1.65948
2874 2025-01-22 15:55:00  1.65949  1.65994  1.65949  1.65980
2875 2025-01-22 15:56:00  1.65982  1.66007  1.65962  1.66007
2876 2025-01-22 15:57:00  1.66003  1.66020  1.65990  1.65992
2877 2025-01-22 15:58:00  1.65993  1.66035  1.65991  1.66021
2878 2025-01-22 15:59:00  1.66022  1.66040  1.66013  1.66016
2879 2025-01-22 16:00:00  1.66014  1.66026  1.66007  1.66019

In [23]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)