In [1]:
pip install --upgrade MetaTrader5

Requirement already satisfied: MetaTrader5 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (5.0.4738)
Requirement already satisfied: numpy>=1.7 in c:\users\aldri\appdata\local\anaconda3\lib\site-packages (from MetaTrader5) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [3]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [32]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "AUDUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 13)
utc_to = datetime(2025, 1, 15)

In [33]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [34]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-13 00:00:00  0.61421  0.61421  0.61421  0.61421            1
1    2025-01-13 00:01:00  0.61423  0.61438  0.61405  0.61438            5
2    2025-01-13 00:02:00  0.61417  0.61441  0.61417  0.61438           10
3    2025-01-13 00:03:00  0.61453  0.61473  0.61438  0.61438            5
4    2025-01-13 00:04:00  0.61449  0.61467  0.61449  0.61467            2
...                  ...      ...      ...      ...      ...          ...
1014 2025-01-13 16:54:00  0.61531  0.61534  0.61524  0.61525           35
1015 2025-01-13 16:55:00  0.61524  0.61540  0.61524  0.61537           53
1016 2025-01-13 16:56:00  0.61536  0.61565  0.61536  0.61565           56
1017 2025-01-13 16:57:00  0.61564  0.61564  0.61554  0.61555           53
1018 2025-01-13 16:58:00  0.61555  0.61571  0.61553  0.61564           50

      spread  real_volume
0        127            0
1         93            0
2         87            0
3         51            0
4         60            0
...      ...          ...
1014       8            0
1015       8            0
1016       8            0
1017       8            0
1018       8            0

[1019 rows x 8 columns]

In [35]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [36]:
rates_frame.tail(40)

                    time     open     high      low    close
979  2025-01-13 16:19:00  0.61474  0.61483  0.61470  0.61478
980  2025-01-13 16:20:00  0.61478  0.61487  0.61472  0.61481
981  2025-01-13 16:21:00  0.61482  0.61486  0.61468  0.61481
982  2025-01-13 16:22:00  0.61481  0.61485  0.61476  0.61478
983  2025-01-13 16:23:00  0.61479  0.61481  0.61466  0.61473
984  2025-01-13 16:24:00  0.61474  0.61482  0.61473  0.61477
985  2025-01-13 16:25:00  0.61477  0.61480  0.61469  0.61469
986  2025-01-13 16:26:00  0.61469  0.61479  0.61469  0.61470
987  2025-01-13 16:27:00  0.61471  0.61472  0.61457  0.61463
988  2025-01-13 16:28:00  0.61463  0.61471  0.61460  0.61465
989  2025-01-13 16:29:00  0.61465  0.61469  0.61461  0.61465
990  2025-01-13 16:30:00  0.61466  0.61466  0.61444  0.61449
991  2025-01-13 16:31:00  0.61450  0.61456  0.61444  0.61446
992  2025-01-13 16:32:00  0.61447  0.61471  0.61447  0.61465
993  2025-01-13 16:33:00  0.61464  0.61484  0.61459  0.61484
994  2025-01-13 16:34:00  0.61484  0.61498  0.61481  0.61495
995  2025-01-13 16:35:00  0.61493  0.61502  0.61489  0.61492
996  2025-01-13 16:36:00  0.61494  0.61514  0.61494  0.61497
997  2025-01-13 16:37:00  0.61498  0.61498  0.61471  0.61475
998  2025-01-13 16:38:00  0.61474  0.61486  0.61466  0.61474
999  2025-01-13 16:39:00  0.61474  0.61476  0.61468  0.61471
1000 2025-01-13 16:40:00  0.61471  0.61481  0.61467  0.61476
1001 2025-01-13 16:41:00  0.61475  0.61482  0.61470  0.61471
1002 2025-01-13 16:42:00  0.61471  0.61482  0.61461  0.61463
1003 2025-01-13 16:43:00  0.61466  0.61512  0.61466  0.61512
1004 2025-01-13 16:44:00  0.61512  0.61516  0.61502  0.61511
1005 2025-01-13 16:45:00  0.61509  0.61509  0.61492  0.61495
1006 2025-01-13 16:46:00  0.61495  0.61516  0.61492  0.61516
1007 2025-01-13 16:47:00  0.61514  0.61522  0.61509  0.61519
1008 2025-01-13 16:48:00  0.61519  0.61530  0.61515  0.61530
1009 2025-01-13 16:49:00  0.61529  0.61541  0.61526  0.61526
1010 2025-01-13 16:50:00  0.61529  0.61529  0.61503  0.61505
1011 2025-01-13 16:51:00  0.61508  0.61518  0.61505  0.61510
1012 2025-01-13 16:52:00  0.61510  0.61522  0.61508  0.61521
1013 2025-01-13 16:53:00  0.61520  0.61534  0.61516  0.61533
1014 2025-01-13 16:54:00  0.61531  0.61534  0.61524  0.61525
1015 2025-01-13 16:55:00  0.61524  0.61540  0.61524  0.61537
1016 2025-01-13 16:56:00  0.61536  0.61565  0.61536  0.61565
1017 2025-01-13 16:57:00  0.61564  0.61564  0.61554  0.61555
1018 2025-01-13 16:58:00  0.61555  0.61571  0.61553  0.61564

In [37]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)