In [196]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [197]:
# Initialize the connection
if not mt5.initialize():
    print("initialize() failed, error code =", mt5.last_error())
    quit()

In [233]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = input("Choose one AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY: ")
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2024, 7, 15)
utc_to = datetime(2024, 8, 3)

In [234]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [235]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                     time     open     high      low    close  tick_volume  \
0     2024-07-15 00:02:00  158.073  158.076  158.064  158.064            4
1     2024-07-15 00:03:00  158.030  158.088  158.030  158.088            6
2     2024-07-15 00:04:00  158.085  158.089  158.083  158.084            6
3     2024-07-15 00:05:00  158.074  158.086  158.063  158.085           11
4     2024-07-15 00:06:00  158.086  158.093  158.086  158.093            4
...                   ...      ...      ...      ...      ...          ...
21100 2024-08-02 15:56:00  147.217  147.320  147.171  147.263          103
21101 2024-08-02 15:57:00  147.273  147.435  147.262  147.384           92
21102 2024-08-02 15:58:00  147.384  147.408  147.361  147.368           94
21103 2024-08-02 15:59:00  147.370  147.482  147.366  147.435           87
21104 2024-08-02 16:00:00  147.447  147.708  147.447  147.634          113

       spread  real_volume
0          55            0
1          94            0
2          92            0
3          98            0
4          76            0
...       ...          ...
21100       1            0
21101       0            0
21102       1            0
21103       1            0
21104       2            0

[21105 rows x 8 columns]

In [236]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [237]:
rates_frame["date"] = rates_frame["time"].astype("str").str[:10]
rates_frame["time"] = rates_frame["time"].astype("str").str[11:]

In [238]:
rates = rates_frame.reindex(labels=["date", "time", "open", "high", "low", "close"], axis = 1)

In [239]:
rates.to_csv(f'./{symbol}_{startdate}_{enddate}.csv', index=False)