In [1]:
import numpy
import pandas as pd
import MetaTrader5 as mt5
from datetime import datetime

In [2]:
if not mt5.initialize(login=89500879, server="MetaQuotes-Demo", password="6kF-FhYd"):
    print("Initialization failed")
    print(mt5.last_error())
    quit()

print("Connected to MT5 successfully")

Connected to MT5 successfully

In [9]:
#INPUTS
# SYMBOLS = AUDSD, EURUSD,EURJPY, XAUUSD, EURGPY, USDJPY
symbol = "GBPUSD"
timeframe = mt5.TIMEFRAME_M1  # 1-minute timeframe
utc_from = datetime(2025, 1, 29)
utc_to = datetime(2025, 1, 31)

In [10]:
startdate=utc_from.strftime('%Y%m%d')
enddate=utc_to.strftime('%Y%m%d')

In [11]:
# Get the OHLC data
rates = mt5.copy_rates_range(symbol, timeframe, utc_from, utc_to)

# Check if the data is downloaded successfully
if rates is None:
    print("No data available, error code =", mt5.last_error())
else:
    # Convert the data to a pandas DataFrame
    rates_frame = pd.DataFrame(rates)
    # Convert the time in seconds to a datetime format
    rates_frame['time'] = pd.to_datetime(rates_frame['time'], unit='s')

    # Display the data
    print(rates_frame)

                    time     open     high      low    close  tick_volume  \
0    2025-01-28 16:00:00  1.24234  1.24285  1.24234  1.24285           54
1    2025-01-28 16:01:00  1.24284  1.24304  1.24276  1.24301           52
2    2025-01-28 16:02:00  1.24297  1.24298  1.24276  1.24286           55
3    2025-01-28 16:03:00  1.24283  1.24314  1.24282  1.24314           46
4    2025-01-28 16:04:00  1.24314  1.24322  1.24290  1.24290           51
...                  ...      ...      ...      ...      ...          ...
1464 2025-01-29 16:25:00  1.24113  1.24116  1.24093  1.24094           40
1465 2025-01-29 16:26:00  1.24092  1.24104  1.24087  1.24091           47
1466 2025-01-29 16:27:00  1.24091  1.24124  1.24091  1.24113           55
1467 2025-01-29 16:28:00  1.24115  1.24121  1.24112  1.24116           44
1468 2025-01-29 16:29:00  1.24115  1.24115  1.24089  1.24103           28

      spread  real_volume
0          5            0
1          5            0
2          5            0
3          5            0
4          5            0
...      ...          ...
1464       5            0
1465       5            0
1466       5            0
1467       5            0
1468       5            0

[1469 rows x 8 columns]

In [12]:
rates_frame.drop(["tick_volume", "spread", "real_volume"], inplace=True, axis=1)

In [13]:
rates_frame.tail(40)

                    time     open     high      low    close
1429 2025-01-29 15:50:00  1.23969  1.23969  1.23947  1.23962
1430 2025-01-29 15:51:00  1.23961  1.23983  1.23950  1.23983
1431 2025-01-29 15:52:00  1.23981  1.23981  1.23963  1.23975
1432 2025-01-29 15:53:00  1.23976  1.24000  1.23974  1.23999
1433 2025-01-29 15:54:00  1.23996  1.23996  1.23973  1.23981
1434 2025-01-29 15:55:00  1.23983  1.23983  1.23974  1.23977
1435 2025-01-29 15:56:00  1.23982  1.23986  1.23943  1.23944
1436 2025-01-29 15:57:00  1.23945  1.23987  1.23945  1.23984
1437 2025-01-29 15:58:00  1.23987  1.23990  1.23975  1.23979
1438 2025-01-29 15:59:00  1.23980  1.23980  1.23962  1.23974
1439 2025-01-29 16:00:00  1.23977  1.23979  1.23966  1.23975
1440 2025-01-29 16:01:00  1.23977  1.24004  1.23972  1.23991
1441 2025-01-29 16:02:00  1.23991  1.24006  1.23986  1.24001
1442 2025-01-29 16:03:00  1.23997  1.24002  1.23967  1.24000
1443 2025-01-29 16:04:00  1.23997  1.24002  1.23988  1.23992
1444 2025-01-29 16:05:00  1.23992  1.24021  1.23992  1.24020
1445 2025-01-29 16:06:00  1.24020  1.24045  1.24012  1.24035
1446 2025-01-29 16:07:00  1.24035  1.24043  1.24024  1.24038
1447 2025-01-29 16:08:00  1.24038  1.24051  1.24035  1.24036
1448 2025-01-29 16:09:00  1.24037  1.24044  1.24032  1.24042
1449 2025-01-29 16:10:00  1.24043  1.24058  1.24022  1.24057
1450 2025-01-29 16:11:00  1.24064  1.24082  1.24055  1.24055
1451 2025-01-29 16:12:00  1.24054  1.24058  1.24040  1.24042
1452 2025-01-29 16:13:00  1.24040  1.24052  1.24040  1.24050
1453 2025-01-29 16:14:00  1.24049  1.24063  1.24046  1.24063
1454 2025-01-29 16:15:00  1.24063  1.24076  1.24059  1.24073
1455 2025-01-29 16:16:00  1.24074  1.24088  1.24057  1.24073
1456 2025-01-29 16:17:00  1.24072  1.24089  1.24070  1.24073
1457 2025-01-29 16:18:00  1.24074  1.24108  1.24074  1.24106
1458 2025-01-29 16:19:00  1.24107  1.24108  1.24083  1.24092
1459 2025-01-29 16:20:00  1.24091  1.24099  1.24075  1.24080
1460 2025-01-29 16:21:00  1.24081  1.24091  1.24071  1.24075
1461 2025-01-29 16:22:00  1.24075  1.24101  1.24072  1.24099
1462 2025-01-29 16:23:00  1.24100  1.24100  1.24082  1.24094
1463 2025-01-29 16:24:00  1.24090  1.24120  1.24088  1.24119
1464 2025-01-29 16:25:00  1.24113  1.24116  1.24093  1.24094
1465 2025-01-29 16:26:00  1.24092  1.24104  1.24087  1.24091
1466 2025-01-29 16:27:00  1.24091  1.24124  1.24091  1.24113
1467 2025-01-29 16:28:00  1.24115  1.24121  1.24112  1.24116
1468 2025-01-29 16:29:00  1.24115  1.24115  1.24089  1.24103

In [14]:
rates_frame.to_csv(f'./OHLC_data/{symbol}_{startdate}_{enddate}.csv', index=False)